[submodule "Dadudekc/Agent_Cellphone"]
	path = Dadudekc/Agent_Cellphone
	url = https://github.com/Dadudekc/Agent_Cellphone.git
[submodule "Dadudekc/agentproject"]
	path = Dadudekc/agentproject
	url = https://github.com/Dadudekc/agentproject.git
[submodule "Dadudekc/AI_Debugger_Assistant"]
	path = Dadudekc/AI_Debugger_Assistant
	url = https://github.com/Dadudekc/AI_Debugger_Assistant.git
[submodule "Dadudekc/ai-task-organizer"]
	path = Dadudekc/ai-task-organizer
	url = https://github.com/Dadudekc/ai-task-organizer.git
[submodule "Dadudekc/Auto_Blogger"]
	path = Dadudekc/Auto_Blogger
	url = https://github.com/Dadudekc/Auto_Blogger.git
[submodule "Dadudekc/basicbot"]
	path = Dadudekc/basicbot
	url = https://github.com/Dadudekc/basicbot.git
[submodule "Dadudekc/bolt-project"]
	path = Dadudekc/bolt-project
	url = https://github.com/Dadudekc/bolt-project.git
[submodule "Dadudekc/content"]
	path = Dadudekc/content
	url = https://github.com/Dadudekc/content.git
[submodule "Dadudekc/contract-leads"]
	path = Dadudekc/contract-leads
	url = https://github.com/Dadudekc/contract-leads.git
[submodule "Dadudekc/DaDudekC"]
	path = Dadudekc/DaDudekC
	url = https://github.com/Dadudekc/DaDudekC.git
[submodule "Dadudekc/DaDudeKC-Website"]
	path = Dadudekc/DaDudeKC-Website
	url = https://github.com/Dadudekc/DaDudeKC-Website.git
[submodule "Dadudekc/DigitalDreamscape"]
	path = Dadudekc/DigitalDreamscape
	url = https://github.com/Dadudekc/DigitalDreamscape.git
[submodule "Dadudekc/Dream.os"]
	path = Dadudekc/Dream.os
	url = https://github.com/Dadudekc/Dream.os.git
[submodule "Dadudekc/DreamVault"]
	path = Dadudekc/DreamVault
	url = https://github.com/Dadudekc/DreamVault.git
[submodule "Dadudekc/FocusForge"]
	path = Dadudekc/FocusForge
	url = https://github.com/Dadudekc/FocusForge.git
[submodule "Dadudekc/FreeRideInvestor"]
	path = Dadudekc/FreeRideInvestor
	url = https://github.com/Dadudekc/FreeRideInvestor.git
[submodule "Dadudekc/FreerideinvestorWebsite"]
	path = Dadudekc/FreerideinvestorWebsite
	url = https://github.com/Dadudekc/FreerideinvestorWebsite.git
[submodule "Dadudekc/FreeWork"]
	path = Dadudekc/FreeWork
	url = https://github.com/Dadudekc/FreeWork.git
[submodule "Dadudekc/gpt_automation"]
	path = Dadudekc/gpt_automation
	url = https://github.com/Dadudekc/gpt_automation.git
[submodule "Dadudekc/HCshinobi"]
	path = Dadudekc/HCshinobi
	url = https://github.com/Dadudekc/HCshinobi.git
[submodule "Dadudekc/Hive-Mind"]
	path = Dadudekc/Hive-Mind
	url = https://github.com/Dadudekc/Hive-Mind.git
[submodule "Dadudekc/ideas"]
	path = Dadudekc/ideas
	url = https://github.com/Dadudekc/ideas.git
[submodule "Dadudekc/IT_help_desk"]
	path = Dadudekc/IT_help_desk
	url = https://github.com/Dadudekc/IT_help_desk.git
[submodule "Dadudekc/LSTMmodel_trainer"]
	path = Dadudekc/LSTMmodel_trainer
	url = https://github.com/Dadudekc/LSTMmodel_trainer.git
[submodule "Dadudekc/machinelearningmodelmaker"]
	path = Dadudekc/machinelearningmodelmaker
	url = https://github.com/Dadudekc/machinelearningmodelmaker.git
[submodule "Dadudekc/machinelearningproject"]
	path = Dadudekc/machinelearningproject
	url = https://github.com/Dadudekc/machinelearningproject.git
[submodule "Dadudekc/MeTuber"]
	path = Dadudekc/MeTuber
	url = https://github.com/Dadudekc/MeTuber.git
[submodule "Dadudekc/MLRobotmaker"]
	path = Dadudekc/MLRobotmaker
	url = https://github.com/Dadudekc/MLRobotmaker.git
[submodule "Dadudekc/my-personal-templates"]
	path = Dadudekc/my-personal-templates
	url = https://github.com/Dadudekc/my-personal-templates.git
[submodule "Dadudekc/my-resume"]
	path = Dadudekc/my-resume
	url = https://github.com/Dadudekc/my-resume.git
[submodule "Dadudekc/network-scanner"]
	path = Dadudekc/network-scanner
	url = https://github.com/Dadudekc/network-scanner.git
[submodule "Dadudekc/NewSims4ModProject"]
	path = Dadudekc/NewSims4ModProject
	url = https://github.com/Dadudekc/NewSims4ModProject.git
[submodule "Dadudekc/organizer-validation"]
	path = Dadudekc/organizer-validation
	url = https://github.com/Dadudekc/organizer-validation.git
[submodule "Dadudekc/osrsAIagent"]
	path = Dadudekc/osrsAIagent
	url = https://github.com/Dadudekc/osrsAIagent.git
[submodule "Dadudekc/osrsbot"]
	path = Dadudekc/osrsbot
	url = https://github.com/Dadudekc/osrsbot.git
[submodule "Dadudekc/practice"]
	path = Dadudekc/practice
	url = https://github.com/Dadudekc/practice.git
[submodule "Dadudekc/projectscanner"]
	path = Dadudekc/projectscanner
	url = https://github.com/Dadudekc/projectscanner.git
[submodule "Dadudekc/prompt-library"]
	path = Dadudekc/prompt-library
	url = https://github.com/Dadudekc/prompt-library.git
[submodule "Dadudekc/repository"]
	path = Dadudekc/repository
	url = https://github.com/Dadudekc/repository.git
[submodule "Dadudekc/Resume-Showcase"]
	path = Dadudekc/Resume-Showcase
	url = https://github.com/Dadudekc/Resume-Showcase.git
[submodule "Dadudekc/self-evolving-ai"]
	path = Dadudekc/self-evolving-ai
	url = https://github.com/Dadudekc/self-evolving-ai.git
[submodule "Dadudekc/Side-projects"]
	path = Dadudekc/Side-projects
	url = https://github.com/Dadudekc/Side-projects.git
[submodule "Dadudekc/SmartStock-pro"]
	path = Dadudekc/SmartStock-pro
	url = https://github.com/Dadudekc/SmartStock-pro.git
[submodule "Dadudekc/socialmediamanager"]
	path = Dadudekc/socialmediamanager
	url = https://github.com/Dadudekc/socialmediamanager.git
[submodule "Dadudekc/SouthwestsSecretDjBoard"]
	path = Dadudekc/SouthwestsSecretDjBoard
	url = https://github.com/Dadudekc/SouthwestsSecretDjBoard.git
[submodule "Dadudekc/stock_portfolio_manager"]
	path = Dadudekc/stock_portfolio_manager
	url = https://github.com/Dadudekc/stock_portfolio_manager.git
[submodule "Dadudekc/stocktwits-analyzer"]
	path = Dadudekc/stocktwits-analyzer
	url = https://github.com/Dadudekc/stocktwits-analyzer.git
[submodule "Dadudekc/Streamertools"]
	path = Dadudekc/Streamertools
	url = https://github.com/Dadudekc/Streamertools.git
[submodule "Dadudekc/Superpowered-TTRPG"]
	path = Dadudekc/Superpowered-TTRPG
	url = https://github.com/Dadudekc/Superpowered-TTRPG.git
[submodule "Dadudekc/SWARM"]
	path = Dadudekc/SWARM
	url = https://github.com/Dadudekc/SWARM.git
[submodule "Dadudekc/TBOWTactics"]
	path = Dadudekc/TBOWTactics
	url = https://github.com/Dadudekc/TBOWTactics.git
[submodule "Dadudekc/Thea"]
	path = Dadudekc/Thea
	url = https://github.com/Dadudekc/Thea.git
[submodule "Dadudekc/TheTradingRobotPlug"]
	path = Dadudekc/TheTradingRobotPlug
	url = https://github.com/Dadudekc/TheTradingRobotPlug.git
[submodule "Dadudekc/trade_analyzer"]
	path = Dadudekc/trade_analyzer
	url = https://github.com/Dadudekc/trade_analyzer.git
[submodule "Dadudekc/trading-leads-bot"]
	path = Dadudekc/trading-leads-bot
	url = https://github.com/Dadudekc/trading-leads-bot.git
[submodule "Dadudekc/TradingRobotPlug"]
	path = Dadudekc/TradingRobotPlug
	url = https://github.com/Dadudekc/TradingRobotPlug.git
[submodule "Dadudekc/TradingRobotPlugWeb"]
	path = Dadudekc/TradingRobotPlugWeb
	url = https://github.com/Dadudekc/TradingRobotPlugWeb.git
[submodule "Dadudekc/TROOP"]
	path = Dadudekc/TROOP
	url = https://github.com/Dadudekc/TROOP.git
[submodule "Dadudekc/TRPlugLibrary"]
	path = Dadudekc/TRPlugLibrary
	url = https://github.com/Dadudekc/TRPlugLibrary.git
[submodule "Dadudekc/ultimate_trading_intelligence"]
	path = Dadudekc/ultimate_trading_intelligence
	url = https://github.com/Dadudekc/ultimate_trading_intelligence.git
[submodule "Dadudekc/UltimateOptionsTradingRobot"]
	path = Dadudekc/UltimateOptionsTradingRobot
	url = https://github.com/Dadudekc/UltimateOptionsTradingRobot.git
[submodule "Dadudekc/Victor.os"]
	path = Dadudekc/Victor.os
	url = https://github.com/Dadudekc/Victor.os.git
[submodule "Datgurll/Digital-dreamscape"]
	path = Datgurll/Digital-dreamscape
	url = https://github.com/Datgurll/Digital-dreamscape.git
[submodule "PauGCO/Email-Cleanup-App"]
	path = PauGCO/Email-Cleanup-App
	url = https://github.com/PauGCO/Email-Cleanup-App.git
[submodule "QuianaSampson/Auto_Blogger"]
	path = QuianaSampson/Auto_Blogger
	url = https://github.com/QuianaSampson/Auto_Blogger.git
[submodule "QuianaSampson/NightShift"]
	path = QuianaSampson/NightShift
	url = https://github.com/QuianaSampson/NightShift.git
[submodule "QuianaSampson/Sims4ModUpdaters"]
	path = QuianaSampson/Sims4ModUpdaters
	url = https://github.com/QuianaSampson/Sims4ModUpdaters.git
[submodule "QuianaSampson/TradingRobotPlugWebTheme"]
	path = QuianaSampson/TradingRobotPlugWebTheme
	url = https://github.com/QuianaSampson/TradingRobotPlugWebTheme.git
